html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.3rem;
}

h1 {
    font-family: rubik;
    color: #11175E;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f5f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #ffffff;
    width: 100%;
    max-width: 650px;
    border-radius: .5rem;
    padding: .8rem 1rem;
    border: 2px solid rgb(233, 233, 233);
}

.inputEtiqueta {
    font-family: rubik;
    width: 11.5rem;
    height: 100%;
    padding: .8rem 1rem;
    border: 1px solid #eeeeee;
    border-radius: .5rem;
    font-weight: 400;
}

.inputDescription {
    font-family: rubik;
    width: 11.5rem;
    height: 100%;
    padding: .8rem 1rem;
    border: 1px solid #eeeeee;
    border-radius: .5rem;
    font-weight: 400;
}

.addTaskBtn {
    font-size: .8rem;
    color: #ffffff;
    background-color: #2D70FD;
    width: 2.1rem;
    height: 2.1rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

#taskList {
    width: 100%;
    height: 100%;
    padding-left: 0;
}
    
#taskDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDo {

    ul > li {
        margin-bottom: .3rem;
        display: grid;
        grid-auto-flow: column;
        border: 1px solid rgb(236, 236, 236);
        border-radius: .5rem;
        padding: .8rem 1rem;
        font-family: Inter;
        font-size: .7rem;
        font-weight: 500;
    }

    & > ul > li:last-child {
        margin-bottom: 0;
    }

    ul > li > button {
        grid-area: span 2;
        background-color: #2D70FD;
        color: #FFFFFF;
        width: 4rem;
        height: 1.8rem;
        font-family: Inter;
        font-weight: 500;
        font-size: .6rem;
        border: none;
        border-radius: .2rem;
        cursor: pointer;
        
        &:hover {
            background: #4e86ff;
        }
    }
    input{
        display: none;
    }
}

.etiquetaLabelContainer {
    width: 2rem;
    height: .5rem;
    border-radius: .5rem;
    border: 1px solid #B1BACB;
    padding: .12rem .25rem;
    font-weight: 500;
    font-size: .45rem;
    color: #B1BACB;
    text-align: center;
}

li {
    justify-content: space-between;
}